// GENERAL ==================================================== //
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    color: $text-color;
    background-color: $bg-color;
}
// HEADER ===================================================== //
@import "_blocks/header";
// ANOTHER STYLES ============================================= //







// ============================================================ //
// @import "_blocks/section.scss";
// FOOTER ===================================================== //
@import "_blocks/footer.scss";
// ============================================================ //


